
{% load tz %}
<div id="comments" class="container-fluid py-3">
    {% for comment in comment_list %}
		 <div class="media comment-box" id="c{{ comment.id }}">
            <div class="media-left">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
            <div class="media-body">
                <div class="media-heading text-light bg-primary"><strong>{{ comment.name }}</strong> <a href="{{ comment.content_object.get_url }}#c{{ comment.id }}" class="float-right"><span class="text-muted pt-5 pt-sm-3 posted-at">{{ comment.submit_date|date:"c" }}</span></a></div>
                <p class="bg-light">{{ comment.comment }}</p>

            </div>
        </div>
    {% endfor %}
</div>

<script>
    let options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' };
    let postDates = document.querySelectorAll('.posted-at');
    Array.prototype.forEach.call(postDates, function(elements, index) {
        let utcDate = elements.innerText;  // ISO-8601 formatted date returned from server
        let localDate = new Date(utcDate);
        elements.innerText = 'posted at ' + localDate.toLocaleDateString("en-US", options);
    });
</script>