
{% load tz %}
<div id="comments" class="container-fluid bg-light py-3">
    {% for comment in comment_list %}
        <div class="card comment-card" id="c{{ comment.id }}">
            <div class="row d-flex">
                <div class="avatar"></div>
                <div class="d-flex flex-column">
                    <h4 class="mt-2 mb-0">by {{ comment.name }}</h4>
                    <div>
                    </div>
                </div>
                <div class="ml-auto">
                    <p class="text-muted pt-5 pt-sm-3 posted-at">{{ comment.submit_date|date:"c" }}</p>
                </div>
            </div>
            <div class="row text-left">
                <p class="content">{{ comment.comment }}</p>
            </div>
            <div class="row text-left mt-4">
            </div>
        </div>
    {% endfor %}
</div>

<script>
    let options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' };
    let postDates = document.querySelectorAll('.posted-at');
    Array.prototype.forEach.call(postDates, function(elements, index) {
        let utcDate = elements.innerText;  // ISO-8601 formatted date returned from server
        let localDate = new Date(utcDate);
        elements.innerText = 'posted at ' + localDate.toLocaleDateString("en-US", options);
    });
</script>