Django
certifi
cffi
chardet
cryptography
django-contrib-comments
django-comments-xtd
django-debug-toolbar
django-summernote
idna
Pillow
pyOpenSSL
pycparser
pytz
psycopg2
requests
setuptools
six
sqlparse
urllib3
uvicorn