django
pillow
certifi
cffi
chardet
cryptography
django-contrib-comments
django-comments-xtd
django-debug-toolbar
django-summernote
idna
pyOpenSSL
pycparser
pytz
psycopg2
setuptools
six
sqlparse
urllib3