
.main-content {
    margin-top: 60px;
    min-height: 100vh;
}

footer {
    margin-top: 50px;
}

.comment-card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 30px
}