{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Thank you for your message" %}.{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <h1>{% trans "Success! Thank you for your message" %}.</h1>
            <a href="{% url 'home_page' %}"><h3>  >>Return to Homepage  </h3></a>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">

            {% include "links_sidewidget.html" %}

        </div>
    </div>
{% endblock %}